//// Size
$height-header: 72px;
$height-base: 36px;
$sidebar-width: 250px;

//colors
$sidebar-color : rgb(15, 10, 43);
$gray-100: #f8f9fc;
$gray-200: #f3f5f9;
$gray-300: #e2e5ec;
$gray-400: #ccd2da;
$gray-500: #9ea7b1;
$gray-600: #6e7985;
$gray-700: #41505f;
$gray-800: #313c47;
$gray-900: #212830;

$icon: rgb(162, 190, 240);
$btn-hover: rgb(57, 39, 162);

// Fonts
$ff-primary: 'Open Sans', sans-serif;
$ff-secondary: 'Archivo', sans-serif;
$ff-numerals: 'Inter', sans-serif;